.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.body {
  border-radius: 2px;
  background-color: #111213;
  font-family: Montserrat, sans-serif;
  color: #f1f1f1;
  font-weight: 700;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.body-2 {
  font-weight: 400;
}

.submit-button-5 {
  background-color: #b6b6b6;
}

.field-label-2 {
  font-size: 18px;
}

.div-block-8 {
  margin: 5% 3%;
  background-color: #f3f3f3;
}

.grid-3 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.cardtext {
  padding: 15px 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 #f0f0f0;
  font-size: 15px;
  text-align: center;
}

.tabs-content {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-right: 25px;
  padding-left: 25px;
}

.body-3 {
  font-family: Lato, sans-serif;
}

.button {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  background-color: #c1c1c1;
  color: #000;
  text-align: center;
}

.div-block-9 {
  padding-bottom: 0px;
  text-align: center;
}

.div-block-10 {
  text-align: center;
}

.toptab {
  padding: 12px 40px;
  font-size: 15px;
  font-weight: 400;
}

.image-3 {
  max-width: 60%;
}

.grid-4 {
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  grid-column-gap: 58px;
  grid-row-gap: 1px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.section-2 {
  margin: 25px 0%;
  padding-bottom: 25px;
  font-family: Lato, sans-serif;
  color: #f1f1f1;
}

.image-4 {
  width: 100%;
}

.image-5 {
  width: 100%;
}

.image-6 {
  width: 100%;
}

.heading-8 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  color: #ffe58a;
  font-size: 14px;
  font-weight: 400;
}

.div-block-11 {
  margin-right: 35%;
}

.paragraph-3 {
  padding-right: 50px;
  font-size: 13px;
}

.heading-9 {
  margin-top: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.body-4 {
  background-color: #111213;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 400;
}

.div-block-12 {
  text-align: left;
}

.foundertitle {
  margin-top: -10px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #ffe58a;
  font-size: 14px;
  font-weight: 300;
}

.founder-description {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.div-block-13 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.foundername {
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 24px;
  font-weight: 700;
}

.grid-5 {
  grid-row-gap: 16px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block-14 {
  margin-top: 0px;
  margin-right: 12%;
  margin-left: 12%;
  padding-top: 15%;
  text-align: center;
}

.herobutton {
  padding: 15px 35px;
  border-radius: 20px;
  background-color: #f3d25d;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 15px;
  font-weight: 400;
}

.herobutton:hover {
  background-color: #dfb72a;
}

.herotext {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-right: 175px;
  padding-left: 175px;
  font-family: Lato, sans-serif;
  font-size: 17px;
  line-height: 22px;
  font-weight: 400;
}

.div-block-15 {
  width: 200px;
  height: 2px;
  background-color: #fff;
  text-align: center;
}

.projecthead {
  margin-bottom: 15px;
  color: #ffe58a;
  line-height: 25px;
}

.heroheader {
  margin-top: 0px;
  margin-bottom: 25px;
  font-size: 55px;
  font-weight: 700;
}

.projectdiv {
  margin-right: 5vh;
  margin-left: 5vh;
}

.projecttext {
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
}

.projectbutton {
  padding: 15px 35px;
  border-radius: 20px;
  background-color: #f3d25d;
  font-family: Lato, sans-serif;
  color: #111213;
  font-weight: 400;
}

.projectbutton:hover {
  background-color: #dfb72a;
}

.section-3 {
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.36);
  background-image: url('../images/nasa-Q1p7bh3SHj8-unsplash.jpg');
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.projectsubhead {
  margin-top: 0px;
  font-family: Lato, sans-serif;
  font-size: 25px;
  line-height: 25px;
  font-weight: 700;
}

.section-4 {
  padding: 2rem;
}

.div-block-16 {
  margin-right: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
}

.div-block-17 {
  margin: 0px 20% 50px;
  padding: 50px 75px;
  border-radius: 20px;
  background-color: rgba(221, 235, 213, 0.09);
  text-align: center;
}

.heading-10 {
  text-align: left;
}

.paragraph-4 {
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
}

.submit-button-6 {
  margin-top: 25px;
  padding: 15px 45px;
  border-radius: 20px;
  background-color: #f3d25d;
  font-family: Lato, sans-serif;
  color: #111213;
  font-size: 15px;
  font-weight: 400;
}

.submit-button-6:hover {
  background-color: #dfb72a;
}

.text-field {
  height: 40px;
  padding: 10px 15px;
  border: 1px none #000;
  border-radius: 15px;
  background-color: #fff;
  opacity: 1;
  font-family: Lato, sans-serif;
  color: #272727;
  font-weight: 400;
}

.success-message {
  background-color: transparent;
}

.text-block {
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.form {
  padding-top: 0px;
}

.section-5 {
  margin-top: 0px;
  padding-top: 150px;
  padding-bottom: 100px;
  color: #f1f1f1;
}

.heading-11 {
  text-align: center;
}

.div-block-18 {
  width: 100%;
  height: 100%;
  background-color: rgba(17, 18, 19, 0.33);
}

.image-7 {
  max-width: 50px;
}

.image-8 {
  overflow: visible;
  max-height: 75px;
  max-width: 0px;
}

.image-9 {
  max-height: 30px;
  margin-top: 20px;
  padding-top: 0px;
}

.navbar {
  background-color: hsla(0, 0%, 86.7%, 0);
}

.nav-link {
  font-family: Lato, sans-serif;
  color: #f1f1f1;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.1px;
}

.nav-link.w--current {
  color: #ffe58a;
}

.nav-menu {
  font-family: Lato, sans-serif;
  font-weight: 400;
}

.div-block-19 {
  margin-right: 5%;
  margin-left: 5%;
}

.div-block-20 {
  margin: 0px 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(3, 3, 3, 0);
}

.grid-6 {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.heading-12 {
  font-size: 20px;
}

.footerhead {
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  color: #aeaeae;
  font-size: 16px;
  font-weight: 400;
}

.image-10 {
  margin-top: 20px;
}

.linkfooter {
  font-family: Lato, sans-serif;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}

.link-block {
  text-decoration: none;
}

.link-block-2 {
  text-decoration: none;
}

.grid-7 {
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.text-block-2 {
  font-family: Lato, sans-serif;
  font-weight: 700;
}

.text-block-3 {
  font-family: Lato, sans-serif;
  font-weight: 500;
}

.image-11 {
  max-height: 40px;
}

.text-block-4 {
  font-family: Lato, sans-serif;
  color: #f1f1f1;
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
}

.link-block-3 {
  text-decoration: none;
}

.div-block-21 {
  font-size: 15px;
}

.div-block-22 {
  margin-right: 5%;
  margin-left: 5%;
}

.div-block-23 {
  margin-right: 5%;
  margin-left: 5%;
  text-align: center;
}

.body-5 {
  background-color: #111213;
}

.heading-13 {
  margin-top: 10%;
  font-family: Lato, sans-serif;
  color: #f1f1f1;
  text-align: center;
}

.section-6 {
  height: 75vh;
  color: #333;
}

.image-12 {
  text-align: center;
}

.body-6 {
  background-color: #111213;
}

.body-7 {
  background-color: #111213;
}

.body-8 {
  background-color: #111213;
}

@media screen and (max-width: 991px) {
  .herobutton {
    margin-top: 10px;
  }

  .herotext {
    padding-right: 150px;
    padding-left: 150px;
  }

  .heroheader {
    line-height: 60px;
  }

  .heading-10 {
    font-size: 35px;
  }
}

@media screen and (max-width: 767px) {
  .paragraph-3 {
    font-size: 14px;
  }

  .grid-5 {
    grid-column-gap: 0px;
  }

  .herotext {
    padding-right: 100px;
    padding-left: 100px;
  }

  .div-block-16 {
    margin-right: 25px;
    margin-left: 25px;
  }
}

@media screen and (max-width: 479px) {
  .grid-5 {
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .herotext {
    padding-right: 25px;
    padding-left: 25px;
    font-size: 16px;
  }

  .projecthead {
    font-size: 30px;
  }

  .heroheader {
    font-size: 35px;
    line-height: 50px;
  }

  .projectdiv {
    margin-right: 10px;
    margin-left: 10px;
  }

  .projecttext {
    font-size: 14px;
    line-height: 16px;
  }

  .projectsubhead {
    font-size: 20px;
  }

  .section-4 {
    padding-top: 100px;
  }

  .div-block-16 {
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    text-align: left;
  }

  .div-block-17 {
    margin-right: 10%;
    margin-left: 10%;
    padding: 25px;
  }

  .heading-10 {
    font-size: 22px;
    line-height: 35px;
  }

  .footerhead {
    font-size: 15px;
  }
}

#w-node-_1b57f736-812d-dc0b-9b43-6f5256b948ff-d09a729c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9c8c4683-c109-eca5-fa89-d14a1cbee1dd-d09a729c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_25c6ddc4-7bf4-fe97-c6a6-bd0ca5a4b51c-d09a729c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f7eb84cf-2bc5-be1e-abeb-e4a7ae618cbd-d09a729c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_68f1d41d-949f-d99a-54f2-1461abc70e08-d09a729c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c3e3b8a0-8c8c-28ec-89f1-b1db1d515311-d09a729c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f9a2b315-f094-6f12-c2e9-4a51b4882f74-d09a729c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_7c3d7bea-5f34-58a8-b921-27628009ec6d-d09a729c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_744ff966-2b18-bb4a-627e-3fc4e4e7e9a8-d09a729c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_333bc418-17ae-706d-73de-0f9617f7b09a-d09a729c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f7e4b5fc-3a2b-74a9-e163-24a1946dcd3c-d09a729c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f7e4b5fc-3a2b-74a9-e163-24a1946dcd40-d09a729c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-eed242d5-77dd-fad9-8510-85185949093f-ce575967 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-eed242d5-77dd-fad9-8510-851859490941-ce575967 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-eed242d5-77dd-fad9-8510-851859490943-ce575967 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-eed242d5-77dd-fad9-8510-851859490945-ce575967 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-eed242d5-77dd-fad9-8510-851859490947-ce575967 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-eed242d5-77dd-fad9-8510-851859490949-ce575967 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-eed242d5-77dd-fad9-8510-85185949094b-ce575967 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-eed242d5-77dd-fad9-8510-85185949094d-ce575967 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-eed242d5-77dd-fad9-8510-85185949094f-ce575967 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-eed242d5-77dd-fad9-8510-851859490953-ce575967 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-eed242d5-77dd-fad9-8510-851859490955-ce575967 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-eed242d5-77dd-fad9-8510-851859490957-ce575967 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-eed242d5-77dd-fad9-8510-851859490959-ce575967 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-eed242d5-77dd-fad9-8510-85185949095b-ce575967 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-eed242d5-77dd-fad9-8510-85185949095d-ce575967 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-eed242d5-77dd-fad9-8510-85185949095f-ce575967 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-eed242d5-77dd-fad9-8510-851859490960-ce575967 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-eed242d5-77dd-fad9-8510-851859490962-ce575967 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e378daf5-82ba-bf87-d617-c7dcb2b004de-16bbaaa2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_40bb6dd6-1d4a-7332-43b4-3763f60e5828-16bbaaa2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_79c1faf6-89bf-d87b-45df-9415b2f61e00-16bbaaa2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-dd878fe2-29f0-aaf7-1479-39cedaa7feda-16bbaaa2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-db1720d2-a63e-9c7e-2494-483e5e791f20-16bbaaa2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b66bc04a-03c9-ed92-9088-e796c98b6033-16bbaaa2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_20c75a19-03b5-8f84-68e4-020cba7b5ec6-16bbaaa2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_20c75a19-03b5-8f84-68e4-020cba7b5ec7-16bbaaa2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_20c75a19-03b5-8f84-68e4-020cba7b5ec9-16bbaaa2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_20c75a19-03b5-8f84-68e4-020cba7b5ecb-16bbaaa2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_20c75a19-03b5-8f84-68e4-020cba7b5ecf-16bbaaa2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_20c75a19-03b5-8f84-68e4-020cba7b5ed3-16bbaaa2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_20c75a19-03b5-8f84-68e4-020cba7b5ed8-16bbaaa2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_20c75a19-03b5-8f84-68e4-020cba7b5edc-16bbaaa2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ed887fc8-2efd-0edd-2c5d-22c79179ba8d-61a89ff1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ed887fc8-2efd-0edd-2c5d-22c79179ba8e-61a89ff1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ed887fc8-2efd-0edd-2c5d-22c79179ba90-61a89ff1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ed887fc8-2efd-0edd-2c5d-22c79179ba92-61a89ff1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ed887fc8-2efd-0edd-2c5d-22c79179ba96-61a89ff1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ed887fc8-2efd-0edd-2c5d-22c79179ba9a-61a89ff1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ed887fc8-2efd-0edd-2c5d-22c79179ba9f-61a89ff1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ed887fc8-2efd-0edd-2c5d-22c79179baa3-61a89ff1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_71484eea-7503-fc21-45a3-f22d59f5fa95-03beb172 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_71484eea-7503-fc21-45a3-f22d59f5fa96-03beb172 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_71484eea-7503-fc21-45a3-f22d59f5fa98-03beb172 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_71484eea-7503-fc21-45a3-f22d59f5fa9a-03beb172 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_71484eea-7503-fc21-45a3-f22d59f5fa9e-03beb172 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_71484eea-7503-fc21-45a3-f22d59f5faa2-03beb172 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_71484eea-7503-fc21-45a3-f22d59f5faa7-03beb172 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_71484eea-7503-fc21-45a3-f22d59f5faab-03beb172 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d71cbc20-72f7-5d6d-37ba-6cfea4a91e5f-c972370d {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d71cbc20-72f7-5d6d-37ba-6cfea4a91e60-c972370d {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d71cbc20-72f7-5d6d-37ba-6cfea4a91e62-c972370d {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d71cbc20-72f7-5d6d-37ba-6cfea4a91e64-c972370d {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d71cbc20-72f7-5d6d-37ba-6cfea4a91e68-c972370d {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d71cbc20-72f7-5d6d-37ba-6cfea4a91e6c-c972370d {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d71cbc20-72f7-5d6d-37ba-6cfea4a91e71-c972370d {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d71cbc20-72f7-5d6d-37ba-6cfea4a91e75-c972370d {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_41bf923f-5d02-d726-d9c1-0745bbb01e06-f18a92db {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_41bf923f-5d02-d726-d9c1-0745bbb01e07-f18a92db {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_41bf923f-5d02-d726-d9c1-0745bbb01e09-f18a92db {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_41bf923f-5d02-d726-d9c1-0745bbb01e0b-f18a92db {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_41bf923f-5d02-d726-d9c1-0745bbb01e0f-f18a92db {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_41bf923f-5d02-d726-d9c1-0745bbb01e13-f18a92db {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_41bf923f-5d02-d726-d9c1-0745bbb01e18-f18a92db {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_41bf923f-5d02-d726-d9c1-0745bbb01e1c-f18a92db {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@font-face {
  font-family: 'Ortica';
  src: url('../fonts/Ortica-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ortica';
  src: url('../fonts/Ortica-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ppneuemachina';
  src: url('../fonts/PPNeueMachina-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ppneuemachina';
  src: url('../fonts/PPNeueMachina-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ppneuemachina';
  src: url('../fonts/PPNeueMachina-Ultrabold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}