.form-div {
  margin-top: 90px;
  margin-right: 30%;
  margin-left: 30%;
}

form input{
  outline: none;
  border: none;
  padding: 10px 25px;
  margin-top: 10px;
  font-weight: 200;
  color: black;
}

form label{
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 2px;
}

.button-input{
 background-color:#3f8a7e;
 border: none;
 margin-left: 5px;
 color: #f1f1f1;
}

.input-field{
  width:300px
}


.heroheading {
  margin-top: 125px;
  margin-bottom: 10px;
  font-size: 55px;
  line-height: 60px;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: none;
}

.hero {
  width: 100%;
  height: 110vh;
  background-image: url('../images/background.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.div1 {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.form-submit {
  margin-top: 15px;
  padding: 12px 35px;
  border-radius: 20px;
  background-color: #3f8a7e;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 3px;
}

.subhead {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 5px;
}

.body {
  font-family: Montserrat, sans-serif;
  color: #f1f1f1;
}

@media screen and (max-width: 991px) {
  .field-label {
    font-size: 18px;
  }

  .heroheading {
    font-size: 50px;
  }

  .hero {
    background-image: url('../images/AuLiTech-Background-min.png');
    background-position: 0px 0px;
    background-size: auto;
  }

  .form-submit {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .field-label {
    font-size: 17px;
  }

  .heroheading {
    font-size: 45px;
  }

  .form-submit {
    font-size: 15px;
  }

  .subhead {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 479px) {
  .form-div {
    margin-top: 60px;
    margin-right: 15%;
    margin-left: 15%;
  }

  .field-label {
    font-size: 16px;
  }

  .heroheading {
    margin-top: 50px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 35px;
    line-height: 45px;
  }

  .div1 {
    padding-top: 25px;
  }
}